---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

No posts yet - check back later! <br> <br> <br>

 <div style="font-family:Arial, sans-serif; font-size:14px;">
 <strong>Webliography</strong>
 </div>
 <div style="font-family:Arial, sans-serif; font-size:14px;">
 <ol style="margin-left:20px; padding-left:0;">
    <li>National Committee for Fluid Mechanics Films (NCFMF) - <a href="https://web.mit.edu/hml/ncfmf.html" target="_blank">https://web.mit.edu/hml/ncfmf.html</a>; <i>The NCFMF Book of Film Notes</i> - <a href="https://web.mit.edu/hml/notes.html" target="_blank">https://web.mit.edu/hml/notes.html</a></li>
    <li>CFD Online Community - <a href="https://www.cfd-online.com/" target="_blank">https://www.cfd-online.com/</a></li>
    <li>Gallery of Fluid Motion, APS Division of Fluid Dynamics - <a href="https://gfm.aps.org/" target="_blank">https://gfm.aps.org/</a></li>
    <li>Physics-based Deep Learning by N. Thuerey et al., 2021 - <a href="https://physicsbaseddeeplearning.org" target="_blank">https://physicsbaseddeeplearning.org</a></li>
    <li>CFD Streamline - <a href="https://cfdstreamline.com/wiki/" target="_blank">https://cfdstreamline.com/wiki/</a></li>
    <li>Vintage STEM Lectures & Footage - YouTube Playlist: <a href="https://www.youtube.com/playlist?list=PLISEtDmihMo3WA4yRoOUqlAgGMaglXLng" target="_blank">https://www.youtube.com/playlist?list=PLISEtDmihMo3WA4yRoOUqlAgGMaglXLng</a></li>
    <li>Theoretical Minimum Lecture Series by Leonard Susskind (SITP) - <a href="https://theoreticalminimum.com/home" target="_blank">https://theoreticalminimum.com/home</a></li>
    <li>The Feynman Lectures on Physics Feynman • Leighton • Sands - <a href="https://www.feynmanlectures.caltech.edu/" target="_blank">https://www.feynmanlectures.caltech.edu/</a></li>
    <li>Applied Geostatistics in Python by M.J. Pyrcz, 2024 [ebook] - Zenodo DOI: <a href="https://doi.org/10.5281/zenodo.15169133" target="_blank">10.5281/zenodo.15169133</a>; Book Link: <a href="https://geostatsguy.github.io/GeostatsPyDemos_Book/intro.html" target="_blank">https://geostatsguy.github.io/GeostatsPyDemos_Book/intro.html</a></li>
    <li>The Watson Lectures (Public Science Events) by Caltech - <a href="https://events.caltech.edu/series/watson" target="_blank">https://events.caltech.edu/series/watson</a></li>
    <li>Johns Hopkins Turbulence Database - <a href="https://turbulence.idies.jhu.edu/home" target="_blank">https://turbulence.idies.jhu.edu/home</a></li>
    

  </ol>

</div>


<!--uncomment this block for blog posts to work-->

<!-- {% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %} -->
